{% assign long_title = true %}

<style>
  .movie-container {
    width: 100%;
    height: 100%;
  }
  .main-image {
    width:100%;
    max-width:100%;
    object-fit:cover;
    object-position:center;
  }
  #qrcode {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 100;
    border-style: solid;
    border-width: 1px;
  }
</style>
<div class="layout m--0 p--0">
  {% if error_text %}
  <div>{{error_text}}</div>
  {% else %}
  {% if selected_movie %}
  <div class="movie-container">
    <img class="image main-image image-dither" src="https://raw.githubusercontent.com/excusemi/trmnl-movie-guesser-plugin/refs/heads/main/movie_dataset/{{ image_path }}" alt="Movie Still" class="movie-still">

    <div id="qrcode" class="bg--white p--2.5 mb--2 mr--2">
      <span data-qr-mode="text" data-qr-size="100" data-text="{{qr_content}}" /></span>
    </div>
  </div>
  {% else %}
  <div>{{t_no_match}}</div>
  {% endif%}
  {% endif %}
</div>
<div class="title_bar p--4">
  <span class="title">{{t_guess}}{% if long_title and selected_movie %} {{t_from_decade}} {{decade}} {{t_decade_suffix}}{% endif %}?</span>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  Array.from(document.querySelectorAll('[data-qr-mode]')).forEach(e => {
    let text;
    let size = parseInt(e.getAttribute('data-qr-size'));
    if (isNaN(size)) { size = 250; }
    text = e.getAttribute('data-text');
    if (text) { new QRCode(e, {text, width: size, height: size}); }
  });
</script>